<h1> This is a particular cat! </h1>

<table>
    <thead>
        <tr>
            <th colspan="4"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>birth_date: <%= @cat.birth_date %></td>
            <td>color: <%= @cat.color %></td>
            <td>sex: <%= @cat.sex %></td>
            <td>description: <%= @cat.description %></td>
        </tr>
    </tbody>
</table>